<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<title>Events | Home</title>
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static 'css/selectordie.css' %}">
		<link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.css' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/selectordie.min.js' %}"></script>
		<script src="{% static 'js/jquery.datetimepicker.js' %}"></script>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	</head>
	<body>
		<header>
			<section class="wrapper">
				<h1><a href=""><img src="{% static 'images/logo.png' %}" alt="Logo"></a></h1>
				<nav class="right">
					<div class="search">
						<form action="">
							<input name ='query' class="search" placeholder="Search here.." type="text">
							<input type="submit" value="Submit">
						</form>
					</div>
				</nav>
				<br class="clear">
			</section>
		</header>

		<main>
			<section id="spotlight">
				<section class="wrapper">
					<h1>“Somewhere, something incredible is waiting to be known.”</h1>
					<p>You know that there’s an amazing venue or sponsor out there for your event — and you’ve got the energy and contacts to make it happen. Eventually.</p>
				</section>
			</section>

			<section id="filter-form">
				<section class="wrapper">
					<form action="" method="get">
						<input type="text" id="datetimepicker" class=" form-control datetimepicker" name='start_date' placeholder="From Date">
						<input type="text" class=" form-control datetimepicker" name='end_date' placeholder="To Date">
						<select name="category" id="" class="selectpicker">
							<option value="">-select a value-</option>
							{% for category in categories %}
							<option value="{{category.pk}}">{{category.name}}</option>
							{% endfor %}
						</select>
						<input type="submit" class="submit" value="Submit" />
						<br class="clear">
					</form>
				</section>
			</section>

			<section id="content">
				<section class="wrapper">
					{% if query or category or start_date or end_date %}
					<h3 class="title">Search results of : {% if query %} {{query}} {% endif %} {% if category %}-{{category}}{% endif %} {% if start_date %} from {{start_date}}{% endif %} {% if end_date %} to {{end_date}}{% endif %}</h3>
					{% endif %} 
					<ul class="list">
						{% load el_pagination_tags %}
						{% paginate 20 events %}
						{% for event in events %}
						<li>
							<div class="card">
								<img src="{{event.image.url}}" alt="Image">
								<div class="bottom">
									<h1 class="title">{{event.title}}</h1>
									<p><span class="date">{{event.start_date}}</span> to <span class="date">{{event.end_date}}</span></p>
									<p>{{event.location}}</p>
								</div>
							</div>
						</li>
						{% endfor %}

					</ul>
					<br class="clear">
				</section>
			</section>

			<section id="paginator">
				<section class="wrapper">
					{% show_pages %}
				</section>
			</section>
		</main>
		<script>
			$(document).ready(function(){
				$(".selectpicker").selectOrDie();
				$('.datetimepicker').datetimepicker({format:'Y-m-d H:i',});
			});
		</script>
	</body>
</html>
